html, body {
  height: 100%;
  width: 100%;
}

.op {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size : 50px ;
  
  
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: greenyellow;
}

